body {
  background-color: #006600;
}

a {
  color: white;
  font-size: 28px;
}

span {
  font-size: 22px;
  font-weight: bold;
}

.val {
  font-size: 18px;
  color: grey;
}

li {
  border: black 1px solid;
  margin: 7px 0;
}

